[submodule "vendor/github.com/golang/x/tools"]
	path = vendor/github.com/golang/x/tools
	url = https://github.com/golang/tools
[submodule "vendor/github.com/pmezard/go-difflib"]
	path = vendor/github.com/pmezard/go-difflib
	url = https://github.com/pmezard/go-difflib
